/* Imports */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Reset */
* {
  box-sizing: border-box;
}

/* Base */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  font-family: "JetBrains Mono", monospace;
}

/* Main */
#main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Headers */
#main-header {
  margin: 0;
  font-size: 12rem;
}

#content-header {
  font-size: 4rem;
}

/* Interactive */
.explore-courses-button,
.link-container {
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
  border: 1px dashed gray;
  border-radius: 1rem;
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.link-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0 0.5rem 1.5rem;
}

.explore-courses-button:hover,
.link-container:hover,
.course-post:hover {
  background-color: white;
  color: black;
}

.course-post {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed gray;
  width: 100%;
  max-width: 30rem;
  min-height: 20rem;
  border-radius: 1rem;
  flex-direction: column;
  gap: 1rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.course-post .course-header {
  font-size: 3rem;
  margin: 0;
}

.course-post .short-desc {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.course-post .update-date {
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
  color: gray;
}

.course-post:hover .update-date,
.course-post:focus-within .update-date {
  color: currentColor;
}
/* Links */
a {
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
}

.link-name a {
  text-decoration: none;
  font-weight: 400;
}

/* Footer */
footer {
  display: flex;
  width: 100%;
}

.footer-left {
  width: 10%;
}

#footer-links {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
}

.footer-left,
#footer-links {
  margin: 0 1.5rem 1rem 1.5rem;
}

/* Content */
#courses-content {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 1rem;
  height: 75%;
  width: 75%;
}

#links-content {
  padding-top: 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  border: 2px solid gray;
  border-radius: 1rem;
  height: 75%;
  width: 20%;
}
