SERVER_PORT=3000
DB_PATH="path-to-db"
TOKEN="secret-token-for-adding-posts"
STATIC_CACHE_MAX_AGE="time-of-cacing static pages"
POSTS_LIST_CACHE_MAX_AGE="time-of-caching-post-lists"
POST_DETAIL_CACHE_MAX_AGE="time-of-caching-full-posts"
STATIC_FILES_DIR="folder-of-static-files"
